.card {
    width: 250px;
    min-height: 220px;
    border-radius: 10px;
    background: var(--color-white);
    margin: 20px 0;
}

.card:hover {
    filter: var(--drop-shadow);
}

.cover-wrapper {
    min-width: 250px;
    height: 150px;
    position: relative;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150%;

}

.price {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px 10px;
    background: var(--color-white);
    border-radius: 10px;
}

.rating {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 5px 10px;
    background: var(--color-white);
    border-radius: 10px;
}

.description {
    color: var(--color-grey);
    font-size: 14px;
}

.buy-button {
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    background: var(--color-white);
    color: orangered;
}

.buy-button:hover {
    /* outline: 2px solid white; */
    background: var(--color-orangered);
    color: white;
}

.pizza-info {
    padding: 5px 15px;
    color: var(--color-black)
}