.search-wrapper {
    display: flex;
    gap: 15px;
    align-items: center;
    position: relative;
}

.search-img {
    position: absolute;
    top: 15px;
    left: 15px;
}

.search-input {
    min-width: 200px;
    height: 45px;
    border-radius: 10px;
    padding-inline: 50px;
    border: 2px solid rgb(180, 180, 180);
}