.card {
    width: 250px;
    /* height: 200px; */
    border-radius: 10px;
    background: white;
    filter: drop-shadow(0px 8px 40px rgb(90, 90, 90, .25));
    margin: 20px 0;
}

.cover-wrapper {
    min-width: 250px;
    height: 150px;
    position: relative;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150%;

}

.pizza-img {
    width: 250px;
    height: auto;
    object-fit: cover;
    transform: scale(1.8);
}

.price {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px 10px;
    background: white;
    border-radius: 10px;
}

.rating {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 5px 10px;
    background: white;
    border-radius: 10px;
}

.buy-button {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 10px;
    background: white;
    color: black;
}

.buy-button:hover {
    color: white;
}

.pizza-info {
    padding: 5px 15px;

}