.product-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card {
    width: 250px;
    border-radius: 10px;
    background: var(--color-white);
    margin: 20px 0;
}

.cover-wrapper {
    min-width: 250px;
    height: 150px;
    position: relative;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150%;

}

.price {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px 10px;
    background: var(--color-white);
    border-radius: 10px;
}

.rating {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 5px 10px;
    background: var(--color-white);
    border-radius: 10px;
}

.description {
    color: var(--color-grey);
    font-size: 14px;
}

.pizza-info {
    padding: 5px 15px;
}